* {
    box-sizing: border-box;
  }
  
  .App {
    width: 70vh;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
  }
  
  .form-field {
    flex: 2;
  }
  .output {
    margin-left: 3rem;
    flex: 1;
  }
  .form-field label,
  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgb(84, 84, 84);
  }
  
  .services {
    display: flex;
    justify-content: space-between;
  }
  .first-division {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .second-division button {
    color: red;
    border: 1px solid red;
  }

  .add_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    top: 0;
    backface-visibility: hidden;
    background: linear-gradient(to left, #203259 0%, #3598e8 100%);
    transition: all 0.3s;
    transform: translateY(0px);
    padding: 10px 30px;
    border-radius: 7px;
    max-height: 40px;
    margin-top: 10px;
    margin-right: 5px;
  }

  .delete_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    top: 0;
    backface-visibility: hidden;
    background: linear-gradient(to left, #ac1f1f 0%, #4b0909 100%);
    transition: all 0.3s;
    transform: translateY(0px);
    padding: 10px 30px;
    border-radius: 7px;
    max-height: 40px;
    margin-top: 10px;
  }