body {
    color: #57758c;
}

.page_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.word_properties_container{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.word_properties_box{
    display: block;
    box-shadow: 0px 7px 16px 2px rgb(41 53 108 / 10%);
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 550px;
    min-width: 550px;
}

.save_btn{
    display: inline-flex;
    align-items: center;
    /*box-shadow: 0px 15px 35px 0px rgb(35 35 35 / 25%);*/
    justify-content: center;
    color: #fff;
    position: relative;
    top: 0;
    backface-visibility: hidden;
    background: linear-gradient(to left, #177220 0%, #114b0d 100%);
    transition: all 0.3s;
    transform: translateY(0px);
    padding: 10px 30px;
    border-radius: 7px;
    max-height: 40px;
    margin-right: 10px;
}

.clear_btn{
    display: inline-flex;
    align-items: center;
    /*box-shadow: 0px 15px 35px 0px rgb(35 35 35 / 25%);*/
    justify-content: center;
    color: #fff;
    position: relative;
    top: 0;
    backface-visibility: hidden;
    background: linear-gradient(to left, #eab03b 0%, #98810a 100%);
    transition: all 0.3s;
    transform: translateY(0px);
    padding: 10px 30px;
    border-radius: 7px;
    max-height: 40px;
}

.dataTable-search-input{
    height: 32px;
    width: 200px;
    border-radius: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e5e5e5;
    padding: 0 32px 0 16px;
}

.dataTable-clear-button{
    border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 34px;
	width: 32px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dataTable-delete-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    top: 0;
    backface-visibility: hidden;
    background: linear-gradient(to left, #ac1f1f 0%, #4b0909 100%);
    transition: all 0.3s;
    transform: translateY(0px);
    border-radius: 7px;
}

.dataTable-edit-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    top: 0;
    backface-visibility: hidden;
    background: linear-gradient(to left, #eab03b 0%, #98810a 100%);
    transition: all 0.3s;
    transform: translateY(0px);
    border-radius: 7px;
}